a.nav-link.active.waves-effect.waves-light{
  color: white!important;
  background: #0277bd!important;
}

a.nav-link{
  color: black!important;
}

.light-blue.darken-3 {
  background-color: white !important;
}
input#exampleCheck1 {
  margin-left: 150px;
}
button.btn.btn-info.waves-effect.waves-light {
  width: 70%;
}
input{
  color: black!important;
}
a.nav-customAS {
  padding: 10px;
}
.normail-a {
  display: contents!important;
}
span.span-span {
  color: red;
  position: relative;
  bottom: 8px;
  left: 3px;
}
