<body>
<div class="box">
  <form class="login-form" [formGroup]="formGroup" (ngSubmit)="checkUser()">
    <h1>Login as Customer</h1>
    <input type="text" formControlName="userName" name="username" placeholder="Username" required>
    <input type="password" formControlName="password" name="password" placeholder="Password" required>
    <input type="submit" name="Login" value="Login">
    <div class="links">
      <a href="#">Forgot Password</a>
      <a routerLink="/signup-homepage">Sign Up</a>
    </div>
    <div *ngIf="isShow"
         class="alert {{ (isSuccess) ? 'alert-success' : 'alert-danger' }}"
         role="alert">
      {{message}}
    </div>
  </form>

</div>
</body>
