<div class="container-body row">
  <div class="float-left col-12">

    <div class="box col-sm-12 col-md-6" *ngFor="let house of listHouse">
      <div class="card">
        <div class="imgBx">
          <img [src]="house.picture[0].tenAnh" alt="images">
        </div>
        <div class="details">
          <h2>{{house.tenNha}}<br><span>{{house.giaTienTheoDem}}$/Đêm</span><br><button class="detail-butoon" routerLink="/views/{{house.idNha}}">Chi tiết</button>
            <button class="detail-butoon" routerLink="/user/1">Thuê Nhà  </button>
          </h2>

        </div>
      </div>
    </div>
  </div>
</div>




